---
layout: default
---

<div class="home">

  {{ content }}

  <div><p>{{ site.data.collection.summary.en[0] | escape }}</p></div>

  <ul class="post-list">
    {%- for item in site.data.navigation -%}
    {%- assign my_page = site.pages | where: "path", item | first -%}
    <li>
        <h3>
          <P>This project has been updated. Please go to <a href="https://tanyaclement.github.io/sexton-sweetbriar-1966/">https://tanyaclement.github.io/sexton-sweetbriar-1966/</a> </P>
        </h3>
      </li>
    {%- endfor -%}
  </ul>

</div>
